@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors */
  --color-brand: #B1E4E3;
  --color-brand-dark: #8BCBC9;

  /* Font Families (Linked to layout.tsx variables) */
  --font-heading: 'Bitcount Prop Single', sans-serif;
  --font-body: var(--font-dm-sans), sans-serif;

  /* 3D Shadows */
  --shadow-hard: 4px 4px 0px 0px #0F172A;
  --shadow-hard-hover: 6px 6px 0px 0px #0F172A;
}

/* Custom Utilities that use the variables */
@layer utilities {
  .bg-swirl {
    background-image: repeating-radial-gradient(circle at 50% 100%,
        #E0F7FA 0%,
        #E0F7FA 10%,
        #B2EBF2 10%,
        #B2EBF2 20%);
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px black;
  }
}

body {
  background-color: var(--color-brand);
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}